{% extends 'base.html.twig' %}

{% block title %}Dashboard
{% endblock %}

{% block page %}Dashboard{% endblock %}

{% block javascripts %}
<script>
    $(document).ready( function () {
        var table = $('#tablePDA').DataTable({
        "paging":   false,
        "ordering": false,
        "info":     false,
        'searching': true,
        });
    } );
</script>
{% endblock %}

{% block actionsPage %}
	{# <div class="d-inline-block dropdown">
		<a type="button" class="btn mr-2 mb-2 btn-danger" href="{{ path("impVehiclePDF", {'registration': vehicle.registration }) }}">
			<span class="btn-icon-wrapper pr-2 opacity-7">
				<i class="fa fa-print fa-w-20"></i>
			</span>
			Imprimer la Fiche Véhicule
		</a>
	</div> #}
{% endblock %}

{% block body %}
<div class="row">
    {% for company in companies %}
        <div class="col-lg-6 col-xl-4">
            <div class="card mb-3 widget-content">
                <div class="widget-content-outer BlockCountPDA">
                    <a href="#">
                        <div class="widget-content-wrapper">
                            <div class="widget-content-left">
                                <div class="widget-heading BlockCountPDA">{{ company.name }}</div>
                                <div class="widget-subheading BlockCountPDA">{{ company.percent }}% du Parc</div>
                            </div>
                            <div class="widget-content-right">
                                <div class="widget-numbers BlockCountPDA">{{ company.nb }}</div>
                            </div>
                        </div>
                        <div class="widget-progress-wrapper">
                            <div class="progress-bar-xs progress">
                                <div class="progress-bar BlockCountPDABack BlockCountPDA" role="progressbar" aria-valuenow="{{ company.percent }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ company.percent }}%;"></div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}
